@media(min-width: 767px) {
    .masterLink.active::before {
        opacity: 1;
        transform: translateX(-50%) scaleX(3);
    }
}


@media(min-width: 767px) {
    .masterLink::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform-origin: center;
        transform: translateX(-50%);
        background-color: brown;
        width: 25%;
        height: 2px;
        transition: 0.5s;
        opacity: 0;
    }
}

@media(min-width: 767px) {
    .masterLink:hover:before {
        opacity: 1;
        transform: translateX(-50%) scaleX(3);
    }
}